:root {
  --blanco: #fff;
  --primario: #ff5d27;
  --negro: #182339;
}
html {
  font-size: 62.5%;
}
body {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8)0%, rgba(0, 0, 0, 0.8)100%), url(/img/bitcoin-g28fe41760_1280.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
  font-size: 2rem;
}
.contenedor {
  max-width: 80rem;
  width: 95%;
  margin: 0 auto;
}
.titulo {
  font-size: 3.8rem;
  margin-top: 5rem;
  line-height: .8;
  color: var(--blanco);
  text-align: center;
}
.titulo span {
  color: var(--primario);
  display: block;
  font-size: 4.4rem;
}

.iconos{
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.contenido {
  padding: 6rem 2rem;
  background-color: var(--negro);
  max-width: 40rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  margin: 5rem auto 0 auto;
}
.formulario,
.campo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.formulario legend {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 900;
}
.formulario label {
  color:  var(--blanco);
}
.formulario select {
  background-color: #ecebeb;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.8rem;
}
.formulario [type="submit"] {
  background-color: var(--primario);
  color: var(--blanco);
  border: none;
  border-radius: .5rem;
  padding: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 300ms ease;
  margin-top: 2rem;
}
.formulario [type="submit"]:hover {
  background-color: #cc4619;
}
.contenedor-resultado{
  background-color: #f1ebd3;
  padding: 1.2rem;
  border-radius: 1rem;
  margin-top: 2rem;
}
.contenedor-resultado h2 {
  text-align: center;
}

.resultado {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 768px){
    .resultado{
      display: grid;
      grid-template-columns: 1fr 3fr;
    }
    .resultado img{
      width: 100%;
    }
}
.resultado img {
  width: 10rem;
}
.resultado p {
  margin: 0 0 1rem;
  font-size: 1.6rem;
}
.resultado span {
  font-weight: 700;
}

.alerta{
  background-color: rgb(247, 79, 79);
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-size: 1.8rem;
  border: 2px solid rgb(250, 5, 5);
  padding: 1rem 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
}


